@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins:wght@200&family=Work+Sans&display=swap);
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
::after,
::before {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  background-image: url(https://leylance-task-1.netlify.app/assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
}
body {
  margin: 0;
  line-height: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b {
  font-weight: bolder;
}
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
::after,
::before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-24 {
  margin-left: 6rem;
  margin-right: 6rem;
}
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ml-24 {
  margin-left: 6rem;
}
.ml-8 {
  margin-left: 2rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.h-\[118px\] {
  height: 118px;
}
.w-10 {
  width: 2.5rem;
}
.w-12 {
  width: 3rem;
}
.w-14 {
  width: 3.5rem;
}
.w-16 {
  width: 4rem;
}
.w-\[230px\] {
  width: 230px;
}
.w-\[800px\] {
  width: 800px;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-2 {
  gap: 0.5rem;
}
.bg-\[\#0078d7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 120 215 / var(--tw-bg-opacity));
}
.bg-\[\#00839a\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 131 154 / var(--tw-bg-opacity));
}
.bg-\[\#008a00\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 138 0 / var(--tw-bg-opacity));
}
.bg-\[\#009400\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 148 0 / var(--tw-bg-opacity));
}
.bg-\[\#00a1f1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 161 241 / var(--tw-bg-opacity));
}
.bg-\[\#2672ec\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 114 236 / var(--tw-bg-opacity));
}
.bg-\[\#5133ab\] {
  --tw-bg-opacity: 1;
  background-color: rgb(81 51 171 / var(--tw-bg-opacity));
}
.bg-\[\#5535af\] {
  --tw-bg-opacity: 1;
  background-color: rgb(85 53 175 / var(--tw-bg-opacity));
}
.bg-\[\#8c0095\] {
  --tw-bg-opacity: 1;
  background-color: rgb(140 0 149 / var(--tw-bg-opacity));
}
.bg-\[\#8c0496\] {
  --tw-bg-opacity: 1;
  background-color: rgb(140 4 150 / var(--tw-bg-opacity));
}
.bg-\[\#9f02a9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(159 2 169 / var(--tw-bg-opacity));
}
.bg-\[\#ac193d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(172 25 61 / var(--tw-bg-opacity));
}
.bg-\[\#b21a41\] {
  --tw-bg-opacity: 1;
  background-color: rgb(178 26 65 / var(--tw-bg-opacity));
}
.bg-\[\#d24826\] {
  --tw-bg-opacity: 1;
  background-color: rgb(210 72 38 / var(--tw-bg-opacity));
}
.bg-bing {
  background-image: url(https://leylance-task-1.netlify.app/assets/Bing.jpg);
}
.bg-desktop {
  background-image: url(https://leylance-task-1.netlify.app/assets/Desktop.jpg);
}
.bg-cover {
  background-size: cover;
}
.text-left {
  text-align: left;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
